.jygdd { 
  border-right-width: 42px;
  border-right-width: 8px;
  padding-right: 25px;
  border-top-width: 93px;
  border-left-width: 84px;
  margin-bottom: 26px;
  margin-left: 29px;
  font-size: 92px;
  border-right-width: 46px;
  line-height: 96px;
  padding-right: 4px;
  padding-top: 39px;
  padding-left: 17px;
  border-left-width: 84px;
  border-bottom-width: 39px;
  margin-right: 13px;
}
